# Ignorar archivos compilados de Python
__pycache__/
*.pyc

# Ignorar bases de datos locales (SQLite)
*.db
*.sqlite

# Ignorar entorno virtual
venv/
env/

# Ignorar configuraciones de editor (opcional pero recomendado)
.vscode/
.idea/
